<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="http://localhost:3000/"><img src="/assets/images/header-logo.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000/">Home
             
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/products">Products</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/admin/addproduct">add products</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/contact-us">Contact Us</a>
          </li>
<% if (!isloggedin) { %>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/admin/login">Login</a>
          </li>
<% }  %>

          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/admin/signup">Register</a>
          </li>
          <% if (isloggedin) { %>
          <li class="nav-item" >
            <form action="http://localhost:3000/admin/logout" method="post" id="logoutform">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit"  style=" border: none;">log out</button>
              
            </form>
            
          </li>
          <% } %>
        </ul>

      </ul>
      </div>
    </div>
  </nav>